[Desktop Entry]
Name=BIOS Renamer
Comment=BIOS renaming tool for ASUS motherboards
Type=Application
Exec=rename-bios-gui
Terminal=false
Categories=Utility;GTK;
StartupNotify=true